@tailwind components;

@layer components {
  button {
    background-color: #0ec39f;
    color: #3a3c3b;
    height: 30px;
    min-width: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 0 1em;
    &:hover {
      background-color: #10816a;
      color: rgb(196, 229, 218);
      transition: background-color, 0.5s;
    }
  }
  table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
  }
  
  table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  table th,
  td {
    padding: 12px 15px;
  }
  
  table tbody tr {
    border-bottom: 1px solid #535855;
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: #3c423f;
  }
  
  table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .player-cards {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    li {
        list-style-type: none;
        border: 2px solid #009879;
        padding: 10px;
        transition: all 1s ease-out;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        min-width: 150px;
      }
}      
}
