@tailwind utilities;

@layer utilities {
    @keyframes append-animate {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
    transform: scale(1.2);
        opacity: 1;	
    }

    100% {
        transform: scale(1);
        opacity: 1;	
    }
}
    
    .fade-in {
            animation: append-animate .3s linear;
    }
}